In [1]:
import pandas as pd
import firebase_admin
from firebase_admin import credentials, firestore

In [2]:
df = pd.read_csv('orginal_sales_data_edit.csv', encoding='utf-8', header=0,delimiter=',')

In [3]:
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,PAYMENTFULLNAME
0,10107,30,95.70,2,2871.00,2/24/2003,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,Yu Kwai
1,10121,34,81.35,5,2765.90,5/7/2003,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,Henriot Paul
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,DaCunha Daniel
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,Young Julie
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,Brown Julie

In [4]:
cred = credentials.Certificate("./huynh-tan-dat-firebase-adminsdk-wb8f1-f9d176e7d4.json")
firebase_admin.initialize_app(cred)

In [5]:
dbFireStore = firestore.client()

In [7]:
for item in df.to_dict(orient='records'):
    doc_ref = dbFireStore.collection('huynh-tan-dat').document()
    doc_ref.set(item)

In [8]:
queryResults = list(dbFireStore.collection(u'tbl-20073701').limit(5).stream())
listQueryResult = list(map(lambda x: x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
df

Empty DataFrame
Columns: []
Index: []